#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100vh;
  text-align: center;
}

.bg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.background {
  background-color: rgba(26, 26, 26, 0.6);
  padding: 20px;
  margin: -7px;
  height: 100%;
  z-index: 1;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
